{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Upload Artwork{% endblock title %}
{% block nav_title %}Upload Artwork{% endblock nav_title %}
{% block content %}
<form class="container px-5 py-24 mx-auto flex" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="bg-gray-900 shadow-md rounded-lg p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 relative z-10">
    <h2 class="text-white text-lg mb-1 font-medium title-font">Upload Artwork</h2>
    <div class="lg:flex lg:gap-2">
      <div id="input-group" class="lg:w-1/2">
        <div class="relative mb-4">
          <label for="{{ form.title.name }}" class="leading-7 text-sm text-gray-400 capitalize">Title</label>
          {{ form.title | add_class:"w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" }}
          <div class="text-red-600">
          {{ form.title.errors }}
          </div>
        </div> 
        <div class="relative mb-4">
          <label for="{{ form.desc.name }}" class="leading-7 text-sm text-gray-400 capitalize">Description</label>
          <textarea name="{{ form.desc.name }}" class="lg:h-60 w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">{% if form.instance.desc %}{{ form.desc.value }}{% endif %}</textarea>
          <div class="text-red-600">
          {{ form.desc.errors }}
          </div>
        </div>
      </div> 
      <div class="relative mb-4 lg:w-1/2">
        <label for="{{ form.image.name }}" class="leading-7 text-sm text-gray-400 capitalize">Select File</label>
        <input id="imageUpload" type="file" name="{{ form.image.name }}" accept="image/*" hidden>
        <div id="imagePreview" class="bg-[url({% static "upload-image.jpg" %})] w-full aspect-square bg-cover bg-center relative mb-4">
        </div>
        <div class="text-red-600">
          {{ form.image.errors }}
        </div>
      </div>
    </div>
    <script>
      $("#imageUpload").change(function() {
        let input = this;
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
          }
          reader.readAsDataURL(input.files[0]);
        }
      });
      $("#imagePreview").click(function() {
        $("#imageUpload").trigger('click');
      });
    </script>
    <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Publish Artwork</button>
  </div>
</form>
{% endblock content %}