{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block nav_title %} Home {% endblock %}
{% block content %}
  <div class="masonry mx-auto">
    {% for artwork in artworks %}
    <div class="grid-item w-[260px] h-auto mb-[10px]">
      <img class="grid-img object-cover" src="{{ artwork.image.url }}" alt="" />
      <div class="absolute inset-0 bg-gray-900 bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-400 grid place-items-center">
        <div class="text-center w-full flex flex-col items-center gap-2">
          <form class="flex flex-col w-fit gap-2" hx-post="{% url 'gallery:like' %}" hx-swap="innerHTML">
            {% csrf_token %}
            <input type="text" name="id" value="{{ artwork.id }}" hidden>
            <div class="text-4xl text-white mx-auto">{{ artwork.likes }}</div>
            <button class="size-10 p-1 bg-red-200 border-0 focus:outline-none hover:bg-red-300 rounded-full">
              <svg width="100%" height="100%" viewBox="0 0 24 24" fill="{% if artwork.liked %}red{% else %}none{% endif %}" stroke="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </form>
          <a href="{% url "gallery:detail" artwork.id %}" class="text-white px-4 py-2 bg-gray-800 border-0 focus:outline-none hover:bg-gray-700 rounded-full">
            Details
          </a>
          <form action="{% url "gallery:delete" artwork.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="text-white px-4 py-2 bg-red-600 border-0 focus:outline-none hover:bg-red-700 rounded-full">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="{% static "script.js" %}"></script>
{% endblock %}