{% extends "base.html" %}
{% load static %}
{% block title %}@{{ profile }}{% endblock title %}
{% block nav_title %}Profile{% endblock nav_title %}
{% block content %}
<div class="flex flex-col items-center gap-2 mb-2 text-white">
  <img src="{{ profile.image.url }}" class="rounded-full size-48 object-cover" />
  <h2 class="text-5xl">{{ profile.artist_name }}</h2>
  <h1 class="text-2xl">@{{ profile }}</h1>
  <h4 class="text-xl">{{ profile.bio }}</h4>
  {% if is_owner  %}
  <div class="flex gap-2">
    <a href="{% url "gallery:create" %}" type="submit" class="text-white px-4 py-2 bg-green-800 border-0 focus:outline-none hover:bg-green-700 rounded-full">
      Upload Artwork
    </a>
    <a href="{% url "account:edit_profile" profile %}" class="text-white px-4 py-2 bg-blue-800 border-0 focus:outline-none hover:bg-blue-700 rounded-full">
      Edit Profile
    </a>
  </div>
  {% endif %}
</div>
<div class="w-full border-b-2 mb-2"></div>
{% if user.is_authenticated %}
  <div hx-get="{% url "gallery:manage" %}" hx-trigger="load" hx-swap="outerHTML"></div>
{% else %}
  <div hx-get="{% url "gallery:list" %}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endif %}
{% endblock content %}