{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col items-center gap-2 mb-2 text-white">
  <img src="/{{ profile.image }}" class="rounded-full size-48 object-cover" />
  <h2 class="text-5xl">{{ profile.artist_name }}</h2>
  <h1 class="text-2xl">@{{ profile.user }}</h1>
  <h4 class="text-xl">{{ profile.bio }}</h4>
</div>
<div class="w-full border-b-2 mb-2"></div>
{% if user.is_authenticated %}
  <div hx-get="{% url "gallery:manage" %}" hx-trigger="load" hx-swap="outerHTML"  ></div>
{% else %}
  <div hx-get="{% url "gallery:list" %}" hx-trigger="load" hx-swap="outerHTML"  ></div>
{% endif %}
{% endblock content %}